language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "pypy"

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq graphviz

install: "pip install -r requirements/development.txt --use-mirrors"
script: py.test
